<h1>注文情報確認</h1>
<body>
	<table>
		<thead>
			<tr>
				<th>商品名</th>
				<th>単価</th>
				<th>数量</th>
				<th>小計</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>data</td>
			</tr>
		</tbody>

	<table>
		<thead>
			<tr>
				<th>送料</th>
				<th>商品合計</th>
				<th>請求金額</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
			</tr>
		</tbody>
	</table>

	<p>支払い方法</p>

	<p>お届け先</p>

	submit
</body>
