<h2>会員一覧</h2>

<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
      </tr>
      <tr>
        <td><!-- %= link_to フルネーム(customer), admin_customer_path(customer), class: “btn-link” % --></td>
      </tr>
      <tr>
        <td><%= customer.email %></td>
      </tr>
      <tr>
        <td>
          <% if customer.is_deleted == true %>
            <p>退会済</p>
          <% else %>
            <p>有効</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
