<% provide(:title, "商品一覧") %>
<div class="row">
  <div class="col-xs-3">
    <%= render 'layouts/genre_search', genres: @genres %>
  </div>
  <div class="col-xs-9">
  <h2><strong>商品一覧</strong>(全<%= Item.count %>件)</h2>
    <%= render 'index', items: @items %>
    <div class="text-center"><%= paginate(@items) %></div>
  </div>
</div>
