<% provide(:title, "商品一覧") %>
<div class="row">
  <div class="col-xs-12 col-sm-2">
    <%= render 'layouts/genre_search', genres: @genres %>
  </div>

  <div class="col-xs-12 col-sm-10">
  <h2>商品一覧(全<%= Item.count %>件)</h2>

    <%= render 'index', items: @items %>
  </div>
</div>
