<% provide(:title, "ホーム") %>

<div>
	<h1>管理者画面</h1>
	<table>
			<tr>
				<td>本日の注文件数</td>
				<td>
					 <%= link_to admin_orders_path do %>
					 	<%= @order.count %>
					<% end %>
					件</td>
			</tr>
		</tbody>
	</table>
</div> 