/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 /* バックグラウンドとフォントタイプ */

 body {
   font-family: "Montserrat","筑紫B丸ゴシック","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
   color: #696363;
   background-color:#FDFCF5;

   background-size: cover;
   background-positon: center;
   background-color: rgba(255, 255, 255, 0.9);
   background-blend-mode: lighten;
   padding-bottom: 70px;
 }

header {
   background-color:#FDFCF5;
}

 /* フラッシュメッセージ */

 #notice {
   color: green;
 }

 #error_explanation {
   color: red;
 }

 /* ウェルカムメッセージ */
 .welcome-message {
   margin-top: 23px;
 }

 /* バッジ */

 .badge-warning {
   background-color: yellow;
 }

 .badge-success {
   background-color: green;
 }

 .badge-danger {
   background-color: red;
 }