<div class="clearfix">
	<h1 class="pull-left">ショッピングカート</h1>
	<%= link_to "カートを空にする", items_path, class:"btn btn-primary pull-right" %>
</div>
<table class="table">
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価（税込）</th>
			<th>数量</th>
			<th>小計</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>data</td>
			<td>data</td>
			<td>data</td>
			<td>data</td>
			<td>data</td>
		</tr>
	</tbody>
</table>
<div>
	<%= link_to "買い物を続ける", items_path, class:"btn btn-primary" %>
</div>
<div>
	
</div>